.table-style {
  width: 50em;
}

.heading-style {
  margin-top: 10em;
}

.button-style {
  margin-left: 2em;
  border-radius: 50px;
}

.resource-component-style {
  display: flex;
  justify-content: center;
}
